{% load i18n %}
<footer class="text-muted py-5">
  <div class="container flex">
    <a href="#">
      <div class="d-flex justify-content-center">
        <p><i class="bi bi-arrow-up-circle-fill"></i></p>
      </div>
      <div class="d-flex justify-content-center">
        <p>{% translate "Back to top" %}</p>
      </div>
    </a>
    <div class="d-flex justify-content-center">
      <p class="mb-1">{% translate "Geodata Mart is developed by" %} <a href="https://kartoza.com">Kartoza</a>.</p>
    </div>
  </div>
</footer>
