{% load static i18n compress %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item mx-2">
    <button id="toggle-darkmode-btn" x-data @click="$store.darkMode.toggle()" class="btn btn-dark nav-link"
      title="Toggle Dark Mode">
      <i class="bi bi-lightbulb-fill nav-link" alt="dark mode" width="32" height="32"></i>
    </button>
  </li>

  <li id="language-selector" class="nav-item mx-2">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <div class="dropdown dropstart">
      <button id="languageMenu" class="btn btn-dark nav-link" title="Change Language" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-translate nav-link" alt="language" width="32" height="32"></i>
      </button>
      <ul class="dropdown-menu text-small bg-dark" role="menu" aria-labelledby="languageMenu">
        {% for language in languages %}
        <li>
          <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
            class="dropdown-item nav-link {% if language.code == LANGUAGE_CODE %}active{% endif %}"
            lang="{{ language.code }}">
            {{ language.name|capfirst }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>


  {% if request.user.is_authenticated %}
  <li class="nav-item mx-2">
    <div class="dropdown dropstart">
      <button id="userMenu" class="btn btn-dark nav-link" title="User Settings" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-person-circle nav-link" alt="user" width="32" height="32"></i>
      </button>
      <ul class="dropdown-menu text-small bg-dark" role="menu" aria-labelledby="userMenu">
        <li>
          <a class="dropdown-item nav-link" href="{% url 'maps:results' %}">{% translate "My Data" %}</a>
        </li>
        <li><a class="dropdown-item nav-link disabled" href="#">{% translate "Settings" %}</a></li>
        <li>
          {# URL provided by django-allauth/account/urls.py #}
          <a class="dropdown-item nav-link disabled" href="#">{% translate "Profile" %}</a>
          {% comment %} <a class="dropdown-item nav-link"
            href="{% url 'users:detail' request.user.username  %}">{% translate "Profile" %}</a> {% endcomment %}
        </li>
        {% if request.user.is_staff %}
        <li>
          <hr class="dropdown-divider color-secondary">
        </li>
        <li><a class="dropdown-item nav-link" href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
        {% endif %}
        <li>
          <hr class="dropdown-divider color-secondary">
        </li>
        {# URL provided by django-allauth/account/urls.py #}
        <li><a class="dropdown-item nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a></li>
      </ul>
    </div>
</ul>
</div>
</li>
{% else %}

<li class="nav-item mx-2">
  <a href="{% url 'account_login' %}" id="log-in-link" class="btn btn-dark nav-link" title="Sign In">
    {# URL provided by django-allauth/account/urls.py #}
    <span class="mx-1 d-inline-block">
      <i class="bi d-inline-block bi-person-circle nav-link" alt="sign in" width="32" height="32"></i>
      <span class="mx-1 d-inline-block">{% translate "Sign In" %}</span>
    </span>
  </a>
</li>

{% endif %}
</ul>
