{% load static i18n compress %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Geodata Mart{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Search, select, clip, and deliver spatial data sources">
  <meta name="author" content="Kartoza">
  <meta name="color-scheme" content="light dark">

  <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/x-icon">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'images/favicons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  {% block css %}
  <object id="css-light">
    {% compress css %}
    <link href="{% static 'css/bootstrap/5.1.3/bootstrap.css' %}" rel="stylesheet">
    {% endcompress %}
  </object>
  <object id="css-dark">
    {% compress css %}
    <link href="{% static 'css/bootstrap-dark/5-1.1.3/bootstrap-nightfall.css' %}" media="(prefers-color-scheme: dark)"
      rel="stylesheet">
    {% endcompress %}
  </object>
  {% compress css %}
  <link href="{% static 'css/bootstrap-icons/1.8.3/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/x-scss" href="{% static "css/project.scss" %}" />
  {% endcompress %}
  <style>
    .leaflet-control-geocoder-form input {
      color: black
    }

    .uneditable-input {
      width: 100%;
    }

  </style>
  {% endblock %}

  {% block javascript %}
  {% compress js %}
  <script src="{% static 'js/htmx/1.7.0/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/bootstrap/5.1.3/bootstrap.bundle.js' %}"></script>
  <script defer src="{% static 'js/alpine/3.10.2/alpine.min.js' %}"></script>
  <script src="{% static 'js/alpine/3.10.2/persist.min.js' %}"></script>
  <script defer src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

  {% endblock javascript %}

  {% block extrahead %}
  {% endblock extrahead %}

</head>

<body>

  {% block navbar %}
  <div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'gallery' %}">
          <img src="{% static 'images/logo_banner_alt.svg' %}" height="40px" alt="GeoData Mart">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% include "components/navbar_left.html" %}
        </div>
        {% include "components/navbar_right.html" %}
      </div>
    </nav>

  </div>
  {% endblock navbar %}

  {% block page %}

  <div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% translate "Welcome to the GeoData Mart." as welcome_msg %}
    <p>{{ welcome_msg }}</p>
    {% endblock content %}

    {% block footer %}
    <footer class="text-muted py-5">
      <div class="container flex">
        <div class="d-flex justify-content-center">
          <p class="mb-1">Geodata Mart is developed by <a href="https://kartoza.com">Kartoza</a>.</p>
        </div>
      </div>
    </footer>
    {% endblock footer %}

  </div>

  {% endblock page %}

  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
  {% endblock inline_javascript %}

  {% compress js %}
  <script>
    const darkModeBtn = document.getElementById("toggle-darkmode-btn");

    function getInitialDarkModeState() {
      if (window.matchMedia) {
        darkModeState = window.matchMedia('(prefers-color-scheme: dark)').matches
      } else {
        darkModeState = false
      }
      return darkModeState
    }

    function toggleDarkMode(darkModeState = false) {
      let lightCss = document.getElementById('css-light')
      let darkCss = document.getElementById('css-dark')
      if (darkModeState) {
        darkCss.firstElementChild.removeAttribute('disabled');
        document.body.setAttribute('data-color-scheme', 'dark');
        darkModeBtn.innerHTML = "<i class=\"bi bi-sun-fill nav-link\" alt=\"dark mode\" width=\"32\" height=\"32\"></i>"
      } else {
        darkCss.firstElementChild.setAttribute('disabled', 'true');
        document.body.setAttribute('data-color-scheme', 'light');
        darkModeBtn.innerHTML =
          "<i class=\"bi bi-moon-fill nav-link\" alt=\"dark mode\" width=\"32\" height=\"32\"></i>"
      }
    }

    document.addEventListener('alpine:init', () => {
      Alpine.store('darkMode', {
        on: (typeof on === 'undefined') ? Alpine.$persist(getInitialDarkModeState()).as('darkMode_on') : Alpine
          .$persist(false).as('darkMode_on'),

        toggle() {
          this.on = !this.on
          toggleDarkMode(this.on)
        }
      })
    })
    document.addEventListener('alpine:init', () => {
      toggleDarkMode(Alpine.store('darkMode').on)
    })

  </script>
  {% endcompress %}
</body>

</html>
