{% extends "base.html" %}
{% load i18n maps_extras %}
{% block extrahead %}
<style>
  .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }

  .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #f1f1f1;
      padding: 20px;
      overflow-y: auto;
  }
  .long-text {
      height: 70px;
      overflow-y: scroll;
  }
  .bd-gallery-img {
    font-size: 1.25rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }






  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

</style>
{% endblock extrahead %}

{% block content %}
<main>


  {% if not items and not search %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hello World!</h1>
        <p class="lead text-muted">
          {% translate "This Geospatial Data Downloader has been set up but does not have any items to display" %}.
        </p>
        <p class="lead text-muted">
          {% translate "Please" %} {% translate "add content or contact a system administrator" %}.
        </p>
      </div>
    </div>
  </section>
  {% endif %}

  {% if not items and search %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{% translate "No Matches Found" %}</h1>
        <p class="lead text-muted">{% translate "Please try again." %}</p>
      </div>
    </div>
  </section>
  {% endif %}

  <div class="py-5">
    <div class="container">

      <div class="grid">

        {% for item in items %}
        {% if item.gdm_type == 'project' %}
        <div class="col">
          <a href="{% url 'maps:project-detail' item.id %}">
            <div class="card shadow-sm">
              <svg class="bd-gallery-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ item.project_name }}</title>
                {% if not item.preview_image %}
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="30%" fill="#eceeef"
                  dy=".3em">{{ item.project_name }}</text>
                <text x="50%" y="60%" fill="#e0e2e2" dy=".2em">Preview Unavailable</text>
                {% else %}
                <image x="0" y="0" width="100%" height="100%"
                href="{{item.preview_image.thumbnail.400x400|urlencode}}">
                </image>
                {% endif %}
              </svg>
          </a>
          <div class="card-body">
            <p class="long-text">{% if item.description %}{{ item.description }}{% endif %}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'maps:map' item.id %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{% translate "Get Data" %}</button>
                </a>
              </div>
              <a href="{% url 'maps:project-detail' item.id %}">{{ item.project_name }}</a>
            </div>
          </div>
        </div>
      </div>
      {% elif item.gdm_type == 'download' %}
      <div class="col">
        <a href="{% url 'maps:data-detail' item.id %}">
          <div class="card shadow-sm">
            <svg class="bd-gallery-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>{{ item.file_name }}</title>
              {% if not item.preview_image %}
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="30%" fill="#eceeef"
                dy=".3em">{{ item.file_name }}</text>
              <text x="50%" y="60%" fill="#e0e2e2" dy=".2em">Preview Unavailable</text>
              {% else %}
              <image x="0" y="0" width="100%" height="100%"
              href="{{item.preview_image.thumbnail.400x400|urlencode}}">
              </image>
              {% endif %}
            </svg>
        </a>

        <div class="card-body">
          <p class="long-text">{% if item.description %}{{ item.description }}{% endif %}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {% if request.user.is_authenticated %}
              <a href="{{ item.file_object.url|urlencode }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">{% translate "Get Item" %}</button>
              </a>
              {% else %}
                <a href="{% url 'account_login' %}">
                 <button type="button" class="btn btn-sm btn-outline-secondary">{% translate "Get Data" %}</button>
               </a>
              {% endif %}
            </div>
            {% if request.user.is_authenticated %}
              <a href="{% url 'maps:project-detail' item.id %}">{{ item.file_name }}</a>
             {% else %}
              <a href="{% url 'account_login' %}">{{ item.file_name }}</a>
             {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}


  </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row align-items-center">

        {% if items.has_other_pages %}
        <div class="btn-group" role="group" aria-label="Item pagination">
          {% if items.has_previous %}
          <a href="?page=1" class="btn btn-outline-primary" title="{% translate "First" %}">&lsaquo;</a>
          <a href="?page={{ items.previous_page_number }}" class="btn btn-outline-primary"
            title="{% translate "Previous" %}">&laquo;</a>
          {% else %}
          <a class="btn btn-outline-gray-500 disabled" title="{% translate "First" %}">&lsaquo;</a>
          <a class="btn btn-outline-gray-500 disabled" title="{% translate "Previous" %}">&laquo;</a>
          {% endif %}

          {% for page_number in items.paginator.page_range %}
          {% if items.number == page_number %}
          <button class="btn btn-outline-primary active">
            <span>{{ page_number }}<span class="visually-hidden">(current)</span></span>
          </button>
          {% elif items.paginator.num_pages < 7 %}
          <a href="?page={{ page_number }}" class="btn btn-outline-primary">
            {{ page_number }}
          </a>
          {% elif page_number >= items.number|subtract:"3" and page_number >= 1 and page_number <= items.number|add:"3" and page_number <= items.paginator.num_pages %}
          <a href="?page={{ page_number }}" class="btn btn-outline-primary">
            {{ page_number }}
          </a>
          {% elif page_number < 8 and items.number < 5 %}
          <a href="?page={{ page_number }}" class="btn btn-outline-primary">
            {{ page_number }}
          </a>
          {% elif items.number > items.paginator.num_pages|subtract:4 and page_number > items.paginator.num_pages|subtract:7 %}
          <a href="?page={{ page_number }}" class="btn btn-outline-primary">
            {{ page_number }}
          </a>
          {% endif %}
          {% endfor %}

          {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}" class="btn btn-outline-primary"
            title="{% translate "Next" %}">&raquo;</a>
          <a href="?page={{ items.paginator.num_pages }}" class="btn btn-outline-primary"
            title="{% translate "Last" %}">&rsaquo;</a>
          {% else %}
          <a class="btn btn-outline-gray-500 disabled" title="{% translate "Next" %}">&raquo;</a>
          <a class="btn btn-outline-gray-500 disabled" title="{% translate "Last" %}">&rsaquo;</a>
          {% endif %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  </div>

</main>
{% endblock content %}

{% block footer %}
{% include "components/_footer_default.html" %}
{% endblock footer %}
