{% extends "base.html" %}
{% load static i18n compress %}
{% block extrahead %}

{% compress css %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet-draw/leaflet.draw.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet-toolbar/leaflet.toolbar.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet-draw-toolbar/leaflet.draw-toolbar.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet-control-geocoder/Control.Geocoder.css' %}" />
{% endcompress %}

{% compress js %}
<script src="{% static 'leaflet/leaflet/leaflet.js' %}"></script>
<script src="{% static 'leaflet/leaflet-draw/leaflet.draw.js' %}"></script>
<script src="{% static 'leaflet/leaflet-toolbar/leaflet.toolbar.js' %}"></script>
<script src="{% static 'leaflet/leaflet-draw-toolbar/leaflet.draw-toolbar.js' %}"></script>
<script src="{% static 'leaflet/leaflet-control-geocoder/Control.Geocoder.js' %}"></script>
<script src="{% static 'js/turf.min.js' %}"></script>
{% endcompress %}

<style>
  .map-page {
    height: 90vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .map-container {
    height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  #map {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  #map-sidebar-legend {
    max-height: 70vh;
    overflow: auto;
  }

</style>

<script>
  invalidExtent: false
</script>
{% endblock extrahead %}

{% block page %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="map-page" x-data="{tab: 'layers'}">
  <form @submit.prevent="invalidExtent" action="{% url 'maps:create_job' %}" method="post">
    {% csrf_token %}
    {% comment %} <input type="hidden" id="user_id" name="user_id" x-model="pageData.user_id">
    <input type="hidden" id="project_id" name="project_id" x-model="formData.project_id">
    <input type="hidden" id="map_layers" name="map_layers" x-model="formData.map_layers">
    <input type="hidden" id="parameters" name="parameters" x-model="formData.parameters">
    <input type="hidden" id="comment" name="comment" x-model="formData.comment"> {% endcomment %}

    <div class="d-flex flex-row">
      <div id="map-sidebar" class="d-flex flex-column align-items-stretch flex-shrink-0 col-3" style="overflow: auto;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" :class="{ 'active': tab === 'layers' }" @click.prevent="tab = 'layers'"
              href="#">{{ project.vendor_id.name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" :class="{ 'active': tab === 'settings' }" @click.prevent="tab = 'settings'"
              href="#">{% translate "Settings" %}</a>
          </li>
        </ul>
        <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row text-muted">
              <img src="{% static 'images/map/map-icon-pure.svg' %}" class="me-2 mt-1" width="30" height="24" />
              <span class="fs-5 mb-1 fw-semibold">{{ project.project_name }}</span>
            </div>
            <div class="d-flex flex-row text-muted">
              <div class="mb-1 ms-0 small">
                {{ project.comment }}
              </div>
            </div>
          </div>
        </div>
        <div id="map-sidebar-legend" class="list-group list-group-flush border-bottom scrollarea">
          <div x-show="tab === 'layers'">
              {% for layer in layers %}
                {% if not layer.lyr_class in excludes_class_list %}
                <div class="list-group-item list-group-item-action mx-0 py-3 lh-tight row justify-content-between" x-data="{checkedLayers: []}">
                  <label for="{{ layer.short_name }}">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="{{ layer.short_name }}"
                        id="{{ layer.short_name }}" x-model="checkedLayers" />
                      <label class="form-check-label" for="{{ layer.short_name }}">
                        {{ layer.layer_name }}
                      </label>
                    </div>
                    <div class="mb-1 small">
                      {{ layer.abstract }}
                    </div>
                  </label>
                </div>
                {% endif %}
              {% endfor %}
          </div>
          <div x-show="tab === 'settings'">
            <div class="d-flex flex-row text-muted">
              <div class="w-100" x-data="{buffer_distance: 5}">
                <div class="text-center w-100 text-muted fs-4" x-text="buffer_distance"></div>
                <input class="form-range mr-2 px-2" type="range" min="0" max="15" step="0.5" id="clipBuffer" x-model="buffer_distance"
                aria-label="Clip buffer" />
                <label for="clipBuffer" class="col-form-label px-2">
                  <span><button type="button" class="btn btn-primary btn-sm rounded-circle mr-2" data-bs-toggle="modal" data-bs-target="#bufferInfoModal">
                      <i class="bi bi-info rounded-circle"></i>
                    </button>  {% translate "Clipping Buffer (km)" %}</span>
                  </label>
              </div>
            </div>
            {% comment %} <div x-data="layerExclusions()"> {% endcomment %}
              {% for layer in layers %}
                {% if layer.lyr_class in excludes_class_list %}
                <div class="list-group-item list-group-item-action py-3 lh-tight row justify-content-between">
                  <label for="{{ layer.short_name }}">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="{{ layer.short_name }}"
                        id="{{ layer.short_name }}" x-model="excludedLayers" />
                      <label class="form-check-label" for="{{ layer.short_name }}">
                        {{ layer.layer_name }}
                      </label>
                    </div>
                    <div class="mb-1 small">
                      {{ layer.abstract }}
                    </div>
                  </label>
                </div>
                {% endif %}
              {% endfor %}
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 col-9">
        <main role="main" class="container" style="width: 100%; height: 100%">
          <div class="form-group row m-2 justify-content-between">
            <div class="w-100">
              {% comment %} <button class="btn btn-outline-success rounded-pill" :class="invalidExtent ? 'disabled' : ''"
                type="submit" style="width: 100%"> {% endcomment %}
                <button class="btn btn-outline-success rounded-pill"
                  type="submit" style="width: 100%">
                {% translate "Clip & Ship" %}
                <i class="bi bi-send-fill"></i>
              </button>
            </div>
            <div class="map-container mt-2">
              <div id="map"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </form>
</div>
{% endblock page %}

{% block modal %}
<div class="modal fade" id="bufferInfoModal" tabindex="-1" aria-labelledby="bufferInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bufferInfoModalLabel">{% translate "Buffer Configuration" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>The buffer value is a numeric representation for the number of squared kilometers the drawn region or point
          will be expanded for the final clipping of the area of interest.</p>
        <p>
          Please note that the total requested area may not exceed <strong>{{ project.max_area }}km²<strong>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Close" %}</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

<!-- prettier-ignore -->
{% block inline_javascript %}
<script>

    function getDrawnGeom(drawnItems) {
      return turf.envelope(drawnItems.toGeoJSON());
    }
  
    function invalidExtents(drawnItems) {
      geom = getDrawnGeom(drawnItems)
      //buffered_geom = turf.buffer(geom, buffer_distance, {units: 'kilometers'})
      buffered_geom = turf.buffer(geom, 5, {units: 'kilometers'})
      buffered_area = turf.area(buffered_geom)
      buffered_area = buffered_area/1000/1000
      console.log('buffered area: ' + buffered_area)
      console.log('max area: ' + {{ project.max_area }})
  
      if (buffered_area > {{ project.max_area }}) {
        console.log('too big')
        return true
      } else {
        console.log('too small')
        return false
      }
    }
  
    const map = L.map("map", {
      zoomControl: false,
      minZoom: 10,
    }).setView(
      [-34.35, 18.48],
      15
    );
    L.Control.geocoder().addTo(map);
    let drawnItems = new L.FeatureGroup().addTo(map),
      editActions = [
        L.Toolbar2.EditAction.Popup.Edit,
        L.Toolbar2.EditAction.Popup.Delete,
      ];

    new L.Control.Zoom({
      position: "bottomleft"
    }).addTo(map);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
    }).addTo(map);

    new L.Control.Draw({
      position: "topleft",
      draw: {
        polyline: false,
        polygon: false,
        rectangle: true,
        circle: false,
        marker: true,
        circlemarker: false,
      },
    }).addTo(map);
    
    map.on("draw:created", (e) => {
      let type = e.layerType,
        layer = e.layer;

      drawnItems.addLayer(layer);
      newdata = getDrawnGeom(drawnItems)
      drawnItems.clearLayers()
      L.geoJson(newdata, {
        onEachFeature: function (feature, layer) {
          drawnItems.addLayer(layer);
          layer.on("click", function (event) {
            new L.Toolbar2.EditToolbar.Popup(event.latlng, {
              actions: editActions,
            }).addTo(map, layer);
          });
        }
      });
      drawnItems.setStyle()
      if (invalidExtents(drawnItems)) {
        drawnItems.setStyle({"color": "#ff7800","weight": 5,"opacity": 0.65})
      }
    });

    map.on("draw:edited", (e) => {
      layers = e.layers;
      layers.eachLayer(function (layer) { /*do nothing*/ });
      newdata = getDrawnGeom(drawnItems)
      drawnItems.clearLayers()
      L.geoJson(newdata, {
        onEachFeature: function (feature, layer) {
          drawnItems.addLayer(layer);
          layer.on("click", function (event) {
            new L.Toolbar2.EditToolbar.Popup(event.latlng, {
              actions: editActions,
            }).addTo(map, layer);
          });
        }
      });
      drawnItems.setStyle()
      if (invalidExtents(drawnItems)) {
        drawnItems.setStyle({"color": "#ff7800","weight": 5,"opacity": 0.65})
      }
    });
    /*map.on("draw:editstop", (e) => {
      newdata = getDrawnGeom(drawnItems)
      drawnItems.clearLayers()
      L.geoJson(newdata, {
        onEachFeature: function (feature, layer) {
          drawnItems.addLayer(layer);
          layer.on("click", function (event) {
            new L.Toolbar2.EditToolbar.Popup(event.latlng, {
              actions: editActions,
            }).addTo(map, layer);
          });
        }
      });
      drawnItems.setStyle()
      if (invalidExtents(drawnItems)) {
        drawnItems.setStyle({"color": "#ff7800","weight": 5,"opacity": 0.65})
      }
    });*/

    L.Control.RemoveAll = L.Control.extend({
      options: {
        position: "topleft",
      },
      onAdd: function (map) {
        const controlDiv = L.DomUtil.create(
          "div",
          "leaflet-draw-toolbar leaflet-bar"
        );
        L.DomEvent.addListener(
            controlDiv,
            "click",
            L.DomEvent.stopPropagation
          )
          .addListener(controlDiv, "click", L.DomEvent.preventDefault)
          .addListener(controlDiv, "click", function () {
            drawnItems.clearLayers();
          });

        var controlUI = L.DomUtil.create(
          "a",
          "leaflet-draw-edit-remove",
          controlDiv
        );
        controlUI.title = '{% translate "Clear Clipping Region" %}';
        controlUI.href = "#";
        return controlDiv;
      },
    });
    let removeAllControl = new L.Control.RemoveAll();
    map.addControl(removeAllControl);

</script>

  {% endblock inline_javascript %}
